h1 {
  color: Black;
}


.container {
  background-color: Red;
}


  body {
    background-color: #00FF00;
  }

  li {
  display: inline;
  background-image: url(https://www.publicdomainpictures.net/pictures/240000/velka/red-and-green-wave-pattern.jpg);
}

.login {
float: right;
}

.login a {
  cursor: pointer;
  margin-right: 30px;
  border-style: solid;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
}
.login a:active {
  top: 5px;
}

#red.html {
  background-image: url("./images/redpic1.jpg");
}

#green.html {
  background-image: url("./images/greenpic.jpg");
}

#black.html {
  background-image: url("./images/blackpic1.jpg");
}
